<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <connectionStrings>   
        <add name="MyKey" 
             connectionString="SERVER=sucileam.cucstudents.org;DATABASE=sucileam_DigitalHub;UID=sucileam;PASSWORD=Heemiola123;SslMode=none;"
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>